body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Comfortaa', cursive;
  color: #455d58;

  margin: 0;

  background-color: #faf7f2;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  text-align: center;
}

.introduction {
  padding-top: 130px;
  margin-bottom: 130px;
}

.introduction__name {
  font-size: 30px;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.introduction__specialization {
  font-size: 40px;

  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.projects,
.technologies,
.education,
.profiles,
.contacts {
  display: flex;
  margin-right: 50px;
  margin-bottom: 100px;
}

.projects__list,
.technologies__list,
.contacts__list,
.education__list,
.profiles__list {
  width: 560px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 10px;

  list-style: none;
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(235, 220, 218, 1);
}

.projects__list {
  width: 1170px;
}

.education,
.contacts {
  margin-right: 0;
}

.title {
  font-size: 30px;
  font-weight: normal;

  margin-bottom: 60px;
  text-align: center;
}

.projects__list:hover,
.technologies__list:hover,
.contacts__list:hover,
.education__list:hover,
.profiles__list:hover {
  background: #fdf5e6;
  transition: 1s;
}

.projects__item,
.technologies__item,
.education__item,
.profiles__item,
.contacts__item {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 60px;
  text-align: left;
}

.education__list-courses {
  margin-top: 60px;
  list-style: none;
}

.projects__link,
.education__link,
.education__link-courses,
.profiles__link,
.contacts__link {
  color: #455d58;
  text-decoration: none;
  border-bottom: 2px solid #ebdcda;
}

.projects__link:hover,
.education__link:hover,
.education__link-courses:hover,
.profiles__link:hover,
.contacts__link:hover {
  color: #b38d88;
}

.projects__link:active,
.education__link:active,
.education__link-courses:active,
.profiles__link:active,
.contacts__link:active {
  color: #cc9293;
}

.education__item {
  margin-bottom: 80px;
}

.education__item-courses {
  margin-bottom: 20px;
}

.education__university {
  margin-right: 20px;
  line-height: 26px;
}
