body {
  font-family: 'Noto Sans', sans-serif;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  display: flex;
  margin-bottom: 90px;
}

.page-header__specialization {
  font-family: 'Titillium Web', sans-serif;
  font-size: 80px;
  font-weight: bold;

  margin: 0;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0;
}

.page-header__name {
  font-size: 35px;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
}

.page-header__photo {
  position: absolute;
  top: 185px;
  left: 740px;
}

.trait {
  width: 960px;
  height: 2px;
  margin-bottom: 50px;

  background-color: rgb(232, 232, 232);
}

.projects,
.technologies,
.education,
.profiles,
.contacts {
  display: flex;
  margin-bottom: 100px;
  line-height: 24px;
}

.title {
  font-size: 25px;
  margin: 0;
  padding: 0;

  width: 200px;
  margin-right: 145px;
}

.projects__list,
.technologies__list,
.education__list,
.profiles__list,
.contacts__list {
  font-size: 18px;
  width: 600px;
  margin: 0;
  padding: 0;
}

.projects__link,
.education__link,
.education__link-courses,
.profiles__link,
.contacts__link {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.projects__link {
  letter-spacing: 1px;
}

.projects__link:hover,
.education__link:hover,
.education__link-courses:hover,
.profiles__link:hover,
.contacts__link:hover {
  color: #722F37;
  border-bottom: 2px solid #722F37;
}

.projects__link:active,
.education__link:active,
.education__link-courses:active,
.profiles__link:active,
.contacts__link:active {
  color: #CD5C5C;
  border-bottom: 2px solid #CD5C5C;
}

.projects__item,
.technologies__item,
.education__item,
.education__item-courses,
.profiles__item,
.contacts__item {
  margin-bottom: 10px;
}

.education__list-courses {
  margin-top: 10px;
}
