body {
  margin: 0;
  padding: 0;
  background-color: #849d8f;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

img {
   max-width: 100%;
   height: auto;
 }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
      clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder {
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  line-height: 24px;
  font-weight: normal;
  color: #999999;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: #f38267;
  background: -webkit-gradient(linear, left top, left bottom, from(#f58569), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58569 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58569 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: #db5338;
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
    box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
      transition: background-image 0.5s ease, background-color 0.5s ease;

  padding-top: 7px;
  padding-bottom: 30px;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;

  margin-bottom: 37px;
  padding-top: 275px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 42px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255,255,255,0.2);
}

.slider-controls label:active {
  background-color: #ffffff;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.wrapper {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

.wrapper-catalog-page {
  padding-bottom: 30px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper img {
  margin-right: 11px;
}

.header-wrapper .header-logo {
  margin: 0;
  margin-top: 7px;
  padding: 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 690px;

  line-height: 18px;
  color: #ffffff;
  font-weight: bold;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation > li {
  position: relative;

  padding-bottom: 10px;
}

.site-navigation a,
.user-navigation a {
  display: block;

  color: #ffffff;
  text-decoration: none;
}

.site-navigation a {
  margin-top: 9px;
  margin-right: 2px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-right: 13px;
  padding-left: 13px;
}

.site-navigation a::after {
  content: "";

  display: block;
  height: 1px;

  background-color: rgba(255,255,255,0.2);
}

.site-navigation a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;

  border-radius: 20px;
}

.site-navigation a:active {
  color: #323232;
  text-decoration: none;

  background-color: #ededed;

  border-radius: 20px;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
    box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation .link-active {
  background-color: #d07058;
  text-decoration: none;
  border-radius: 20px;
}

.site-navigation .link-active::after {
  display: none;
}

.catalog-new {
  position: absolute;
  left: -8px;
  top: 44px;
  z-index: 10;

  width: 143px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

  display: none;
}

.site-navigation-item:hover .catalog-new {
  display: block;
}

.catalog-new h4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
}

.catalog-new h4::after {
  content: "";

  display: block;

  height: 1px;
  width: 128px;
  margin-top: 12px;
  margin-left: -12px;

  background-color: rgba(0, 0, 0, 0.4);
}

.catalog-new-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-new-list  a {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
}

.catalog-new-list .melorin {
  padding-bottom: 11px;
}

.catalog-new-list  a:hover {
  background-color: #fbded7;
  border-radius: 0;
}

.catalog-new-list a:active {
  background-color: #f6b5a5;
  -webkit-box-shadow: none;
    box-shadow: none;
}

.catalog-new-list .catalog-new-active {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-new-list .melorin:hover,
.catalog-new-list .melorin:active {
  border-radius: 0 0 5px 5px;
}

.catalog-new-list a::after {
  display: none;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 293px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation li {
  margin: 0;
  padding: 0;
}

.user-navigation a {
  background-color: rgba(255,255,255,0.2);

  margin-right: 9px;
  border-radius: 20px;
}

.user-navigation .basket-link {
  margin-right: 0;
}

.user-navigation a:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-link:hover path,
.user-navigation-link:hover circle {
  fill: #323232;
}

.search,
.login-link,
.basket {
  position: relative;

  padding-bottom: 10px;
}

.search a {
  position: relative;

  padding: 16px 16px;

  border-radius: 50%;
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 8px;
}

.search-item {
  position: absolute;
  z-index: 10;
  top: 39px;
  left: -310px;

  min-width: 331px;
  border-radius: 5px;
  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

  padding-top: 17px;
  padding-left: 12px;
  padding-bottom: 16px;

  display: none;
}

.search:hover > .search-item {
  display: block;
}

.search-item input {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  min-width: 298px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-left: 4px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-item input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
}

.search-item input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
}

.search-item input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
}

.search-item input[type="text"]::placeholder {
  font-size: 14px;
}

.login-link a {
  position: relative;

  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 17px;
}

.login-link-icon {
  position: absolute;

  top: 5px;
  left: 16px;
}

.login-link-form {
  position: absolute;
  z-index: 10;
  top: 35px;
  left: -183px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

  display: none;
}

.login-link:hover > .login-link-form {
  display: block;
}

.login-link-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.login-link-form a:hover,
.login-link-form a:active {
  color: #e84d37;
}

.login-link-form a::after {
  content: "";

  display: block;
  height: 1px;
  margin-top: -5px;

  background-color: #adacaa;
}

.login-link-form a:hover::after {
  background-color: #f9cdc4;
}

.login-link-form-password::after {
  width: 100px;
}

.login-link-form-checkin::after {
  width: 117px;
}

.button-login-link {
  display: block;
  width: 100px;

  padding: 10px 25px;
  margin-left: 19px;
}

.login-link-form input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  font-size: 14px;
}
.login-link-form input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  font-size: 14px;
}
.login-link-form input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder {
  font-size: 14px;
}

.login-link-form input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-size: 14px;
}

.login-link-item input {
  min-width: 224px;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  margin-left: 19px;
  margin-top: 19px;
  margin-right: 19px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 10px;
}

.login-link-password input {
  margin-bottom: 17px;
}

.login-link-form p {
  margin: 0;
  padding: 0;
}

.login-link-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;

  padding-bottom: 20px;
}

.login-link-form-hint a {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.basket a {
  position: relative;

  margin-right: 0;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 45px;
  padding-right: 19px;
}

.basket .basket-icon {
  position: absolute;
  top: 5px;
  left: 15px;
}

.basket .not-empty {
  position: relative;

  color: #323232;

  background-color: #ffffff;
}

.basket .basket-red-icon {
  position: absolute;
  top: 5px;
  left: 18px;
}

.not-empty:hover .red {
  fill: #E84D37;
}

.basket .basket-popup {
  width: 540px;
  position: absolute;
  z-index: 10;
  top: 35px;
  left: -420px;

  background-color: #f8f7f4;
  padding-bottom: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

  display: none;
}

.basket:hover > .basket-popup {
  display: block;
}

.basket-popup .basket-list {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #323232;

  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-left: 20px;

  list-style: none;
}

.basket-popup p {
  margin: 0;
  padding: 0;
}

.basket-list p {
  margin: 0;
  padding: 0;
}

.basket-list img {
  width: 33px;
  height: 33px;

  border-radius: 50%;

  margin-left: 20px;
}

.basket-list .basket-popup-close {
  position: relative;

  margin: 0;
  padding: 0;
}

.basket-popup-close svg {
  position: absolute;
  top: 10px;

  width: 11px;
  height: 11px;
}

.basket-list .basket-product-price {
  color: #999999;
}

.basket-list .basket-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.basket-list .basket-product-name {
  width: 217px;

  padding-top: 10px;
  padding-left: 4px;
}

.basket-list .basket-product-weight {
  width: 45px;

  padding-top: 10px;
  padding-left: 28px;
}

.basket-list .basket-product-price {
  width: 50px;

  padding-top: 10px;
}

.basket-list .basket-product-sum {
  width: 51px;

  padding-top: 10px;
  padding-left: 28px;
}

.basket-popup .basket-total {
  position: relative;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: #323232;

  text-align: right;
  margin-right: 14px;
  padding-top: 9px;
}

.basket-popup .basket-total::before {
  content: "";
  position: absolute;
  top: -5px;

  display: block;

  height: 1px;
  width: 510px;
  margin-left: 16px;
  margin-bottom: 19px;
  background-color: #cacac7;
}

.basket-popup .basket-order {
  width: 160px;
  margin: 0;
  margin-top: 13px;
  margin-left: 352px;
  padding: 0;
  padding-top: 11px;
  padding-left: 15px;
  padding-bottom: 12px;
}

.basket-popup .basket-order:hover {
  color: #ffffff;
}

.schedule-wrapper {
  text-align: right;
}

.schedule-catalog {
  position: absolute;
  top: 71px;
  right: 27px;
}

.schedule {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.schedule-catalog-page {
  margin-left: 15px;
}

.schedule-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;

  margin: 0;
  padding: 0;
}

.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 18px;
  font-weight: bold;

  margin-bottom: 40px;
}

.promotion h3 {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-top: 18px;
  padding-left: 19px;
}

.promotion p {
  line-height: 22px;

  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  padding-left: 19px;
}

.promotion a {
  line-height: 24px;

  text-decoration: none;

  margin: 0;
  padding: 14px 21px;
}

.promotion .raspberries-button {
  margin-left: 376px;
}

.promotion .chocolate-button {
  margin-left: 350px;
}

.promotion-sales {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
}

.promotion-raspberries {
  margin-right: 26px;

  background-color: #921a35;
  background-image: url(../img/raspberries-background.png);
}

.promotion-chocolate {
  background-color: #704838;
  background-image: url(../img/chocolate-background.png);
}

.promo-hit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-hit-image {
  position: relative;
}

.promo-hit-image::before {
  content: "";

  position: absolute;
  z-index: 10;

  width: 61px;
  height: 61px;

  background-image: url(../img/hit-icon.svg);
}

.features {
  min-height: 306px;
  color: #323232;

  margin-bottom: 40px;

  border-radius: 15px;
  background-color: #eddcbe;
  background-image: url(../img/features-background.png);
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  position: relative;

  font-size: 16px;
  line-height: 22px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 25px;
  padding-left: 19px;
}

.features-list li {
  margin: 0;
  margin-bottom: 11px;
  margin-right: 26px;
  padding: 0;
  padding-top: 11px;
}

.features-list .features-item-left {
  width: 473px;
  padding-left: 75px;
}

.features-list .features-item-right {
  width: 478px;
  padding-left: 68px;
}

.features-list p {
  margin: 0;
  padding: 0;
}

.features-list .item-cream::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 19px;

  width: 49px;
  height: 49px;

  background-image: url(../img/features-cream-icon.svg);
}

.features-list .item-cow::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 584px;

  width: 49px;
  height: 49px;

  background-image: url(../img/features-cow-icon.svg);
}

.features-list .item-sheet::before {
  content: "";
  top: 86px;
  left: 19px;

  position: absolute;

  width: 49px;
  height: 49px;

  background-image: url(../img/features-sheet-icon.svg);
}

.features-list .item-thermometr::before {
  content: "";

  position: absolute;
  top: 86px;
  left: 584px;

  width: 49px;
  height: 49px;

  background-image: url(../img/features-thermometr-icon.svg);
}

.news-and-mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;

  margin-bottom: 40px;
}

.news {
  width: 560px;
  min-height: 220px;

  border-radius: 15px;
  background-color: #ffffff;
  background-image: url(../img/news-background.png);
  background-repeat: no-repeat;
}

.news h3 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;

  margin-bottom: 5px;
  padding-top: 7px;
  padding-left: 20px;
}

.news a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  text-decoration: none;

  border-bottom: 2px solid #323232;
}

.news-link {
  width: 284px;
  margin-left: 20px;
}

.news a:hover,
.news a:active {
  color: #e84d37;
  border-bottom-color: #f9cdc4;
}

.mailing {
  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url(../img/mailing-background.png);
  background-repeat: no-repeat;
  width: 560px;
}

.mailing-form {
  background-color: #f8f7f4;
  width: 550px;

  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  padding-bottom: 35px;
}

.mailing-info {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: normal;

  margin: 0;
  margin-bottom: 34px;
  padding-top: 29px;
  padding-left: 21px;
}

.button-mailing {
  display: block;
  width: 129px;

  padding: 10px 18px;
}

.mailing-item {
  margin: 0;
  padding: 0;
}

.mailing-item input {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  width: 368px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  margin-left: 20px;
  margin-right: 11px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 14px;
}

.mailing-form input[type="email"]::-webkit-input-placeholder {
  font-size: 16px;
}
.mailing-form input[type="email"]:-ms-input-placeholder {
  font-size: 16px;
}
.mailing-form input[type="email"]::-ms-input-placeholder {
  font-size: 16px;
}

.mailing-form input[type="email"]::placeholder {
  font-size: 16px;
}

.mailing-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

.map {
  position: relative;

  width: 100%;
  height: 430px;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  background-image: url(../img/map.png);
}

.map svg {
  position: absolute;
  left: 310px;
  top: 139px;
}

.map iframe {
  position: absolute;
  z-index: 10;

  width: 100%;
  height: 430px;

  border: none;
}

.map-wrapper {
  width: 1146px;
  margin: 0 auto;
  position: relative;
}

.map-feedback {
  position: absolute;
  z-index: 10;
  top: 63px;
  right: 0;

  width: 276px;
  padding-left: 26px;
  padding-top: 28px;
  padding-bottom: 40px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 10px;
}

.map-feedback p {
  margin: 0;
  padding: 0;
}

.map-feedback .text-small {
  font-size: 14px;
  line-height: 20px;
}

.map-feedback .text-large {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.map-button {
  padding: 11px 28px;

  text-decoration: none;
}

.map-adress .adress-upper {
  margin-bottom: 3px;
}

.map-adress .adress-lower {
  margin-bottom: 16px;
}

.map-tel .tel-upper {
  margin-bottom: 5px;
}

.map-tel .tel-average {
  margin-bottom: 1px;
}

.map-tel .tel-lower {
  margin-bottom: 33px;
}

.feedback {
  position: fixed;
  z-index: 15;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

  width: 478px;

  background-color: #f8f7f4;
  border-radius: 10px;

  display: none;
}

.feedback-show {
  display: block;

  -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.feedback .feedback-info {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;

  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  padding-top: 15px;
  padding-left: 25px;
}

.feedback input{
  width: 252px;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 14px;
  margin-left: 24px;
}

.feedback input[type="email"]::-webkit-input-placeholder,
.feedback input[type="text"]::-webkit-input-placeholder {
  font-size: 16px;
}
.feedback input[type="email"]:-ms-input-placeholder,
.feedback input[type="text"]:-ms-input-placeholder {
  font-size: 16px;
}
.feedback input[type="email"]::-ms-input-placeholder,
.feedback input[type="text"]::-ms-input-placeholder {
  font-size: 16px;
}

.feedback input[type="email"]::placeholder,
.feedback input[type="text"]::placeholder {
  font-size: 16px;
}

.feedback-area {
  width: 400px;
  min-height: 131px;
  resize: none;

  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #323232;

  padding: 10px 14px;
  margin-left: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
}
.feedback textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
}
.feedback textarea::-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
}

.feedback textarea::placeholder {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
}

.feedback-area:hover {
  -webkit-box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
    box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.feedback-area:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
    box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.feedback .feedback-button-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;
}

.button-feedback {
  display: block;
  width: 139px;

  padding: 10px 25px;
  margin-right: 24px;
  margin-top: 21px;
  margin-bottom: 22px;
}

.feedback-wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback .button-close {
  position: absolute;
  border: none;
  background-color: #f8f7f4;
  margin-top: -125px;
  margin-left: 132px;

  cursor: pointer;
}

@-webkit-keyframes bounce {
 0% {
   -webkit-transform: translateX(-50%) translateY(-200%);
      transform: translateX(-50%) translateY(-200%);
 }

 80% {
   -webkit-transform: translateX(-50%) translateY(-10%);
      transform: translateX(-50%) translateY(-10%);
 }

 90% {
   -webkit-transform: translateX(-50%) translateY(-30%);
      transform: translateX(-50%) translateY(-30%);
 }

 100% {
   -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
 }
}

@keyframes bounce {
 0% {
   -webkit-transform: translateX(-50%) translateY(-200%);
      transform: translateX(-50%) translateY(-200%);
 }

 80% {
   -webkit-transform: translateX(-50%) translateY(-10%);
      transform: translateX(-50%) translateY(-10%);
 }

 90% {
   -webkit-transform: translateX(-50%) translateY(-30%);
      transform: translateX(-50%) translateY(-30%);
 }

 100% {
   -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
 }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 14px;
  line-height: 16px;

  width: 267px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 0;

  list-style: none;
}

.breadcrumbs a {
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs a::after {
  content: "";

  display: block;

  height: 1px;
  background-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:hover::after,
.breadcrumbs a:active::after {
  background-color: #ffbc9e;
}

.breadcrumbs li::after {
  content: "»";

  margin-left: 7px;
  margin-right: 7px;
}

.breadcrumbs .breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.container-catalog-page h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;

  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.filters {
  width: 880px;
  margin-bottom: 40px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

.filter-sorting {
  position: relative;
  margin-right: 14px;
  margin-bottom: 13px;
}

.filter-sorting::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 169px;

  width: 0px;
  height: 0px;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ffffff;
}

.filter-sorting:hover::after {
  border-top: 10px solid #323232;
  cursor: pointer;
}

.filter-sorting p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 2px;
  padding-left: 17px;
}

.filter-sorting select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  width: 195px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 14px;


  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  border: none;

  -webkit-user-select: none;
    -moz-user-select: none;
      -ms-user-select: none;
        user-select: none;
  -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-sorting select::-ms-expand {
  display: none;
}

.filter-sorting select:hover {
  color: #323232;
  cursor: pointer;
}

.filter-sorting option {
  color: #323232;
}

.filter-price {
  width: 219px;
  margin-right: 15px;
  margin-bottom: 13px;
}

.filter-price p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-left: 14px;
}

.price-range {
  position: relative;
  height: 19px;

  padding-top: 5px;
  padding-bottom: 12px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.price-range .range-long {
  position: absolute;
  top: 18px;
  left: 21px;

  width: 176px;
  height: 4px;

  background-color: #f8f7f4;
  opacity: 0.5;
}

.price-range .range-short {
  position: absolute;
  top: 18px;
  left: 50px;

  width: 87px;
  height: 4px;

  background-color: #f8f7f4;
}

.price-range .button-left,
.price-range .button-right {
  width: 20px;
  height: 20px;

  background-color: #f8f7f4;
  border: none;
  border-radius: 50%;
}

.price-range .button-left {
  position: absolute;
  top: 10px;
  left: 34px;
}

.price-range .button-left::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;

  margin-top: -1px;
  margin-left: 1px;

  background-color: #9bafa4;
  border-radius: 50%;
}

.price-range .button-right {
  position: absolute;
  top: 10px;
  left: 132px;
}

.price-range .button-right::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;

  margin-top: -1px;
  margin-left: 1px;

  background-color: #9bafa4;
  border-radius: 50%;
}

.price-range .button-left:hover,
.price-range .button-right:hover {
  -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
      transform: scale(1.1);

  -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
      transition-duration: 0.3s;

  cursor: pointer;
}

.filter-fat {
  width: 415px;
  margin-bottom: 13px;
}

.filter-fat .filter-fat-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 15px;
}

.filter-fat-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
  border: none;
}

.filter-fat-radio .filter-fat-item {
  position: relative;
  margin: 0;
  padding: 0;
}

.filter-fat-radio label {
  position: relative;

  display: inline-block;
  vertical-align: middle;

  margin-right: 19px;
  padding-left: 30px;
}

.filter-fat-radio label::before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;

  width: 15px;
  height: 15px;

  border: 4px solid #ebebe9;
  border-radius: 50%;
}

.filter-fat-marked {
  position: absolute;
  top: 9px;
  left: 5px;

  width: 7px;
  height: 7px;

  border-radius: 50%;
  background-color: #ebebe9;

  display: none;
}

input[type="radio"]:focus + label {
  outline: 1px solid #ff0000;
}

input[type="radio"]:checked ~ span {
  display: block;
}

input[type="radio"]:disabled ~ span {
  background-color: #b5c4bc;
}

input[type="radio"]:disabled + label::before {
  border-color: #b5c4bc;
}

.filter-fat-item:hover .filter-fat-marked {
  background-color: #ffffff;
  cursor: pointer;
}

.filter-fat-item:hover label::before {
  border-color: #ffffff;
  cursor: pointer;
}

.filter-fillers {
  margin-right: 15px;
}

.filter-fillers p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  padding-left: 16px;
}

.filter-fillers label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: lowercase;

  margin-right: 15px;
  padding-left: 34px;
}

input[type="checkbox"]:focus ~ svg {
  outline: 1px solid #ff0000;
}

.fillers {
  width: 673px;

  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 12px;

  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.checkbox-off,
.checkbox-on {
  position: absolute;
  left: 2px;
}

.checkbox-on {
  display: none;
}

.checkbox-off,
.checkbox-on {
  fill: #e6ebe9;
}

.fillers-title:hover .checkbox-off,
.fillers-title:hover .checkbox-on {
  fill: #ffffff;
  cursor: pointer;
}

input[type="checkbox"]:disabled ~ .checkbox-of,
input[type="checkbox"]:disabled ~ .checkbox-on {
  fill: #b5c4bc;
}

input[type="checkbox"]:checked ~ .checkbox-on {
  display: inline-block;
  vertical-align: middle;
}

input[type="checkbox"]:checked ~ .checkbox-off {
  display: none;
}

.button-filters {
  width: 145px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;

  margin: 0;
  margin-top: 21px;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: rgba(255,255,255,0.2);
  border: solid 2px #ffffff;
  border-radius: 20px;
}

.button-filters:hover {
  color: #323232;
  background-color: #ffffff;
}

.button-filters:active {
  color: #323232;
  background-color: #ededed;
  -webkit-box-shadow: inset 0px 2px 1px 0 #696969;
    box-shadow: inset 0px 2px 1px 0 #696969;
  border: none;
}

.catalog {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}

.catalog .catalog-list,
.promo-hit .promo-hit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0;
}

.catalog-list h3,
.promo-hit-list h3 {
  position: relative;
  z-index: 2;

  text-align: center;
  margin: 0;
  padding: 0;
}

.catalog-list .catalog-link,
.promo-hit-list .promo-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;

  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-decoration: none;
}

.catalog-list .catalog-link:hover,
.catalog-list .catalog-link:active,
.promo-hit-list .promo-link:hover,
.promo-hit-list .promo-link:active {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.catalog-item:hover .catalog-price,
.promo-hit-item:hover .promo-hit-price {
  z-index: 3;
}

.catalog-item:hover .catalog-image,
.promo-hit-item:hover .promo-hit-image {
  position: relative;
  z-index: 3;
}

.catalog-item .catalog-price,
.promo-hit-item .promo-hit-price {
  position: absolute;
  top: 210px;

  margin: 0;
  padding: 0;
}

.catalog-price .catalog-price-number,
.promo-hit-price .promo-number {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-price .catalog-price-kg,
.promo-hit-price .promo-kg {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
}

.catalog-list .catalog-item,
.promo-hit-list .promo-hit-item {
  position: relative;
  width: 267px;

  margin: 0;
  margin-bottom: 37px;
  margin-right: 26px;
  padding: 0;
}

.catalog-list .grid,
.promo-hit-list .grid {
  margin-right: 0;
}

.catalog-image,
.promo-hit-image {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.catalog-image img,
.promo-hit-image img {
  border-radius: 50%;
}

.catalog-image a,
.promo-hit-image a {
  margin: 0;
  padding: 0;
}

.catalog-button,
.promo-button {
  position: absolute;
  left: 35px;
  z-index: 10;

  padding: 13px 17px;
  margin-top: 12px;

  text-decoration: none;

  display: none;
}

.catalog-list li::after,
.promo-hit-list li::after {
  content: "";

  position: absolute;
  top: -10px;
  left: -12px;
  z-index: 1;

  width: 293px;
  min-height: 126%;

  background-color: rgba(255,255,255,0.2);
  -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  display: none;
}

.catalog-list li:hover::after,
.promo-hit-list li:hover::after {
  display: block;
}

.catalog-item:hover .catalog-button,
.promo-hit-item:hover .promo-button {
  display: block;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
    -ms-flex-pack: end;
      justify-content: flex-end;

  position: relative;

  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
}

.pagination-list::after {
  content: "";

  position: absolute;
  top: 53px;

  display: block;
  height: 1px;
  width: 1146px;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list .pagination-page {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  width: 25px;
  height: 23px;
  margin: 0;
  margin-right: 4px;
  padding: 0;
  padding-top: 4px;

  border-radius: 50%;
}

.last-item {
  margin-right: 14px;
}

.pagination-list .pagination-page:hover {
  background-color: rgba(255,255,255,0.2);
}

.pagination-list .pagination-page:active {
  color: #323232;
  background-color: #ffffff;
}

.pagination-list .active-page {
  color: #323232;
  background-color: #ffffff;
}

.pagination-control-left {
  -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  margin-right: 13px;
}

.pagination-control-right path {
  fill: #ffffff;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 200px;

  margin: 0;
  margin-top: 10px;
  margin-right: 221px;
  padding: 0;

  list-style: none;
}

.social-button {
  width: 32px;
  height: 32px;

  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255, 0.5);
}

.social-button path {
  fill: rgba(255, 255, 255, 0.8);
}

.social-button:hover path {
  fill: rgb(255, 255, 255);
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.8);
}

.footer-info,
.footer-documents {
  margin-top: 14px;
}

.footer-info {
  margin-right: 32px;
}

.footer-documents {
  margin-right: 231px;
}

.footer-info a,
.footer-documents a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-decoration: none;
}

.footer-info a:hover,
.footer-documents a:hover,
.footer-info a:active,
.footer-documents a:active {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.footer-info p,
.footer-documents p {
  margin: 0;
  padding: 0;
}

.footer-info .suppliers {
  position: relative;
  font-weight: bold;
}

.footer-info .suppliers::before {
  content: "";

  position: absolute;
  top: 1px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  width: 198px;
  margin: 0;
}

.logo-htmlacademy {
  margin: 0;
}

.copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 12px;
  line-height: 18px;
  color: #fefefe;

  margin: 0;
  padding: 0;
}

.copyright-link p {
  margin: 0;
  margin-right: 2px;
  padding: 0;
}

.copyryght-link-htmlacademy a {
  color: #fefefe;

  margin: 0;
  padding: 0;

  text-decoration: none;
}

.copyryght-link-htmlacademy a:hover,
.copyryght-link-htmlacademy a:active {
  color: #ffbc9e;
}

.copyryght-link-htmlacademy a::after {
  content: "";

  display: block;

  height: 1px;
  background-color: rgba(255,255,255,0.2);
}

.copyryght-link-htmlacademy a:hover::after,
.copyryght-link-htmlacademy a:active::after {
  background-color: #ffbc9e;
}
