.impressions {
  @include indents;
  margin-bottom: 41px;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;

    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-bottom: 65px;
  }
}

.impressions__title {
  margin-bottom: 11px;
  padding-left: 48px;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #d22856;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding-left: 0;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
  }
}

.impressions__area {
  width: 272px;
  min-height: 192px;
  resize: none;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 492px;
    min-height: 185px;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 21px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 812px;
    min-height: 120px;
    margin-bottom: 36px;
  }

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }
}
