.progress {
  @include indents;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;

    border: 2px solid #e5e5e5;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
}

.progress__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    width: 876px;
    margin-left: 58px;
  }
}

.progress__title {
  width: 218px;
  margin-bottom: 42px;
  padding-top: 38px;
  margin-left: 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 373px;
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;

    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 24px;
  }
}

.progress__signature {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 52px;

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;

  &--hotel {
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    margin-left: 0;

    &--shark {
      order: 1;
      margin-right: 54px;
    }

    &--chuck {
      order: 2;
      margin-right: 36px;
    }

    &--tower {
      order: 3;
      margin-right: 0;
    }

    &--beach {
      order: 4;
      margin-right: 54px;
    }

    &--souvenir {
      order: 5;
      margin-right: 36px;
    }

    &--hotel {
      order: 6;
      margin-right: 0;
    }
  }
}

.progress__signature::before {
  content: "";

  position: absolute;

  width: 35px;
  height: 35px;

  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.progress__signature:hover::before {
  border-color: #283645;
}

.progress__signature:active::before {
  border-color: #d22856;
}

.progress__signature svg {
  position: absolute;
  left: 8px;
  display: none;

  width: 22px;
  height: 16px;

  fill: #e06989;
}

.progress__field {
  width: 45px;
  height: 45px;
}

.progress__signature span {
  padding-left: 68px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}
